/* CSS Document */
body
{
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;	
	background-color:#EBF3F6;
}

.black_text{
	font-family:"Verdana";
	font-size: 8pt;
	color:#000000;
}

.warning_red{
	font-family:"Verdana";
	font-size: 8pt;
	color:#CC0000;
}

.text_green{
	font-family:"Verdana";
	font-size: 8pt;
	color:#339933;
}

.blue_text_small{
	font-family:"Verdana";
	font-size: 8pt;
	color:#587681;
}

.black_text_big{
	font-family:"Verdana";
	font-size: 12pt;
	color:#000000;
	background-color:#f6fbff;
}


.blue_text_big{
	font-family:"Verdana";
	font-size: 10pt;
	color:#587681;
}

a.bigblue:link
{
	font-family:"Verdana";
	font-size: 10pt;
	color:#587681;
	text-decoration:underline;
}
a.bigblue:hover
{
	font-family:"Verdana";
	font-size: 10pt;
	color:#587681;
	text-decoration:none;
}
a.bigblue:visited
{
	font-family:"Verdana";
	font-size: 10pt;
	color:#587681;
	text-decoration:underline;
}
a.bigblue:active
{
	font-family:"Verdana";
	font-size: 10pt;
	color:#587681;
	text-decoration:underline;
}


.warning{

font-family:"Verdana";
	font-size: 9pt;
	color:#CCCCCC;

}

a:hover {
	color:#000000;
	text-decoration:none;
	font-family:"Verdana";
	font-size: 8pt;
	
}
a:link {
	text-decoration:none;
	color:#000000;
	font-family:"Verdana";
	font-size: 8pt;
}
a:visited {
	text-decoration: none;
	color: #000000;
	font-family:"Verdana";
	font-size: 8pt;
}
a:active {
	text-decoration: none;
	color: #000000;
	font-family:"Verdana";
	font-size: 8pt;
}


.menu
{
	
	font-family:"Arial Black", Verdana;
	font-size: 14pt;
	color:#587681;
}

a.blacklink:link
{
	font-family:"Verdana";
	font-size: 8pt;
	color:#000000;
	text-decoration:underline;
}
a.blacklink:hover
{
	font-family:"Verdana";
	font-size: 8pt;
	color:#000000;
	text-decoration:none;
}
a.blacklink:active
{
	font-family:"Verdana";
	font-size: 8pt;
	color:#000000;
	text-decoration:underline;
}
a.blacklink:visited
{
	font-family:"Verdana";
	font-size: 8pt;
	color:#000000;
	text-decoration:underline;
}
